<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <h1>Welcome!</h1>
    <div id="target">
        <input type="text" id="username"><br>
        <input type="text" id="password"><br><br>
        <button id="login">Log In</button><br>
        <a href="http://localhost:5000/register">Create an account</a>
        <a href="http://localhost:5000/post">Make a post</a>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>